div(class="presentation")
  div(class="slides")
    div(class="slide")
      section
        h1 First application
    div(class="slide")
      section
        h4 Have you ever played this puzzle?
        h4 4 4 6 3 = 10
        h4 Can you make 10 using 4 #s?
    div(class="slide")
      section
        h1 The answer is
        h1 4+4+6/3 = 10
    div(class="slide")
      section
        h1 How about
        h1 1 1 5 8 ?
    div(class="slide")
      section
        h1 The answer is difficult.
        h1 so use this app.
          a(href="http://make10.herokuapp.com/")
            p make 10
    div(class="slide")
      section
        h1 Second application
    div(class="slide")
      section
        h2 Have you ever wanted to remind English words?
    div(class="slide")
      section
        a(href="http://english-tweet-bot2.herokuapp.com/")
         h1 English Tweet bot
    div(class="slide")
      section
        a(href="https://twitter.com/#!/english_twt_bot/")
         h1 This bot can tweet 1 English word / day.
    div(class="slide")
      section
        h1 Final application
        h1 State-of-the-art
    div(class="slide")
      section
        h2 Actually, this app is that one.
    div(class="slide")
      section
        h2 If you double-click anyplace, you can put your question.
    div(class="slide")
      section
        h2 If you are shy, you can input your question.
    div(class="slide")
      section
        p First app is a typical web app.
        p Second app is more modern, mashup.
        p Final app can feedback real time.    
  div(class="counter") 0
  div(class="operation")
script(src="javascripts/slide.js")
script(src="javascripts/stickypaper.js")
