div(class="presentation")
  div(class="slides")
    div(class="slide")
      section
        h1 How To Design a Good API and Why it matters
    div(class="slide")
      section
        h1 良いAPIのデザイン方法と何故デザインが必要なのか。 
    div(class="slide")
      section
        h4 元にした内容は以下のプレゼンテーションです。
        h4 
          a(href="http://lcsd05.cs.tamu.edu/slides/keynote.pdf") keynote
    div(class="slide")
      section(class="left")
        h4(class="small") なぜAPI設計は重要か？
          ul
          li APIは会社の資産の中心
            ul
              li 顧客が重点をおいて投資するのは：
               | 購入すること、コードを書ける、学習できること
              li 禁止になっているAPIを利用することを止めるのにかかるコストもある
              li 成功する公開されたAPIは顧客の気持ちをつなぐ。
          li APIは会社の重要なライブラリにもなる
           | 逆にBad APIは鳴り止まないサポートコールを生み続ける。
          li 公開されたAPIは永遠 - 一度公開されたら二度と変更できない。

    div(class="slide")
      section(class="left)
        h4 訳したんですが、ココに入れきれていません。もう少し待ってください。
  div(class="counter") 0
  div(class="operation")
script(src="javascripts/slide.js")
script(src="javascripts/stickypaper.js")
