div(class="presentation")
  div(class="slides")
    div(class="slide")
      section
        h1 Realtime stickypapers
    div(class="slide")
      section
        h1 リアルタイム付箋アプリ 
    div(class="slide")
      section
        h4
          | どうも、
          a(href="http://twitter.com/#!/yosuke_furukawa") yosuke_furukawa
          | です。
        a(href="http://twitter.com/#!/yosuke_furukawa") 
          img(src="images/twitter_icon.jpg")
        p 
          | blog:
          a(href="http://d.hatena.ne.jp/yosuke_furukawa/") from scratch
    div(class="slide")
      section
        h4 Node.jsでchatとかばかり
        h4 作っていましたが、
    div(class="slide")
      section
        h4 少し自分に役に立ちそうなやつを
        h4 作ろうと思ってやってみました。
    div(class="slide")
      section
        h4 まぁとりあえず、
        h4 スライドのどこかをダブルクリック
        h4 してみてください。
        p (IEの人は動かないと思う。Chrome推奨。)
    div(class="slide")
      section
        h4 付箋が出ましたか?
        h4 中に何か書くこともできます。
        h4 書いた内容はSocket.ioで
        h4 リアルタイムに
        h4 更新されています
    div(class="slide")
      section
        h4 dragすれば付箋位置を変えられます
        h4 これももちろんSocket.ioで
        h4 リアルタイムに更新されます。
    div(class="slide")
      section
        h3 中身は
        p WebSocket + Node + MongoDB 
        h3 です。
    div(class="slide")
      section
        p ひとまず公開しますが、このままだと、付箋ばかりになりそうなので、付箋を隠せるモードも追加したいと思います。
        p 
          span(style="color:#FF0000") 追加しました!
          | 詳しくは 12ページ以降を
          | 参考にしてください
    div(class="slide")
      section
        p
         | ソースコードは
         a(href="https://github.com/yosuke-furukawa/nodeslide") GitHub: https://github.com/yosuke-furukawa/nodeslide
         | にあります。
    div(class="slide")
      section
        p さて少しだけですが、アップグレードしました。
        p 今回アップグレードしたのは、以下の3点
        li 付箋のhide/showボタンの追加
        li 見ている人の数追加。
        li 複数プレゼンに対応しました。
    div(class="slide")
      section
        p hide/show ボタンの追加
        p 上にあるhideボタンを押してみてください。
        p 付箋が隠れます。
        p 隠した付箋はshowボタンを押せばすぐに復旧します
    div(class="slide")
      section
        p 見ている人の数が見えるようになりました。
        p 右下のnow readingで出ている数字が見ている人の数です。
        p タブを上げれば増えると思います。
    div(class="slide")
      section
        p 複数プレゼンに対応しました。
        p index以外にも別のプレゼンテーションを作れるようにしてみました。
        a(href="http://yosuketest.node-ninja.com/howtomakeapi") http://yosuketest.node-ninja.com/howtomakeapi
        p にいってみてください。
  div(class="counter") 0
  div(class="operation")
script(src="javascripts/slide.js")
script(src="javascripts/stickypaper.js")
