div(class="presentation")
  div(class="operation")
  div(class="slides")
    div(class="slide")
      section
        h1 スライド
    div(class="slide")
      section
        h1 二枚目
    div(class="slide")
      section
        h2 三枚目
        p ららら
    div(class="slide")
      section
        h1 四枚目
        h2 ああああああ
        h3 いいいいいい
        h4 うううううう
        p ああだこうだ
script(src="javascripts/slide.js")
script(src="javascripts/stickey.js")
