!!! 5 doctype
html
  head
    title HTML5 + Node on ninja
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/prettify/prettify.css')
    script(type="text/javascript", src="/stylesheets/prettify/prettify.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/check_args.js")
    script(type="text/javascript", src="/javascripts/jquery-1.7.min.js")

  body!= body