<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css" />
</head>
<body>
<div class="presentation">
<div class="slides">
<div class="slide">
<section>
<h1>スライド</h1>
</section>
</div>

<div class="slide">
<section>
<h1>二枚目</h1>
</section>
</div>

<div class="slide">
<section>
<h2>三枚目</h2>
<p>ああだこうだ</p>
</section>
</div>

<div class="slide">
<section>
<h1>四枚目</h1>
<h2>あああああ</h2>
<h3>いいいいい</h3>
<h4>ううううう</h4>
<p>ああだこうだ</p>
</section>
</div>

<div class="slide">
<section>
<h1>五枚目</h1>
</section>
</div>
<div class="slide">
<section>
<img src="./cat-hat.jpg" />
</section>
</div>
</div> <!-- slides -->
</div> <!-- presentation -->
<script src="../public/javascripts/slide.js"></script>
<script src="../public/javascripts/stickey.js"></script>
</body>
</html>
